<div class="filter-bar-container">
    <div class="filter-group">
        <label>Visualization:</label>
        <mat-radio-group [ngModel]="selectedVisualization" (ngModelChange)="visualizationChanged($event)">
            <mat-radio-button 
                *ngFor="let option of visualizationOptions" 
                class="filter-bar-wrapper-group-radio-group-button" 
                [value]="option.type">
                {{ option.text }}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="filter-group">
        <label>Period:</label>
        <mat-radio-group [ngModel]="selectedPeriod" (ngModelChange)="periodChanged($event)">
            <mat-radio-button 
                *ngFor="let option of periodOptions" 
                class="filter-bar-wrapper-group-radio-group-button" 
                [value]="option.type">
                {{ option.text }}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="input-row">
        <mat-form-field appearance="fill">
            <mat-label>Year</mat-label>
            <input matInput type="number" [value]="selectedYear" (input)="yearChanged($event)">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Month</mat-label>
            <input matInput type="number" [value]="selectedMonth" (input)="monthChanged($event)">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select (selectionChange)="genderChanged($event.value)">
                <mat-option value="">All</mat-option>
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Other">Other</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Occupation</mat-label>
            <input type="text" matInput [formControl]="occupationControl" [matAutocomplete]="autoOcc" placeholder="Search occupation...">
            <mat-autocomplete #autoOcc="matAutocomplete">
                <mat-option *ngFor="let option of filteredOccupationOptions | async" [value]="option">
                {{ option }}
                </mat-option>
            </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin-left: 10px;">
            <mat-label>Location</mat-label>
            <input type="text" matInput [formControl]="locationControl" [matAutocomplete]="autoLoc" placeholder="Search city/country...">
            <mat-autocomplete #autoLoc="matAutocomplete">
                <mat-option *ngFor="let option of filteredLocationOptions | async" [value]="option">
                {{ option }}
                </mat-option>
            </mat-autocomplete>
            </mat-form-field>
    </div>
</div>