<div class="main">
  <div class="main-header">
    <filter-bar 
      [selectedYear]="selectedYear" 
      [selectedMonth]="selectedMonth"
      [selectedPeriod]="selectedPeriod"
      [selectedVisualization]="selectedVisualization"
      (visualizationOptionChangedEmitter)="visualizationChanged($event)"
      (periodOptionChangedEmitter)="periodChanged($event)"
      (yearChangedEmitter)="yearChanged($event)"
      (monthChangedEmitter)="monthChanged($event)"
      (genderChangedEmitter)="genderChanged($event)"
      (occupationChangedEmitter)="occupationChanged($event)"
      (locationChangedEmitter)="locationChanged($event)">
    </filter-bar>
  </div>
  <div class="main-content">
    <app-radar-chart-three 
      [data]="filteredUserInformation"
      [selectedYear]="selectedYear"
      [selectedMonth]="selectedMonth"
      [selectedPeriod]="selectedPeriod"
      [selectedVisualization]="selectedVisualization"></app-radar-chart-three>
  </div>
</div>